
.navbar-brand img {
	width: 120px;
	margin-left: 100px;
}
.navbar-nav li {
	font-family: 'Rubik', sans-serif;
	letter-spacing: 1px;
	font-size: 16px;
	margin: 10px;
	text-transform: uppercase;
}
.navbar-nav {
	margin-right: 100px;
}
.d-block  {
	width: 100%;

}
.carusel-inner {
	height: 500px;	
}
.carusel-inner img {
	transform: translateY(-30%);
	width: 100px;	
	height: 100px;	
}

.carousel-caption {
	position: absolute;
	top: 50px;	
	transform: translateY(40%);

}
 .btn {
 	background-color: #53ae3b
 }
  