body {
	text-align: center;
}
.navbar-nav li {
	font-family: 'Rubik', sans-serif;
	letter-spacing: 1px;
	font-size: 16px;
	margin: 10px;
	text-transform: uppercase;
}
.navbar-nav {
	margin-right: 100px;
}
.d-block  {
	width: 100%;

}

.carusel-inner img {
	transform: translateY(-30%);
	width: 100px;	
	height: 100px;	
}

.carousel-caption {
	position: absolute;
	top: -150px;	
	left: 65%;
	transform: translateY(40%);
	

}
.button_text {
	font-family: 'Marck Script', cursive;
	font-size: 40px;
}
 .btn {
 	background-color: #53ae3b
 }
.jet-headline__label {
	color: rgba(218,223,227,0.6);
    font-family: "Kaushan Script", Sans-serif;
    font-size: 75px;
    font-weight: 400;
    letter-spacing: -1px;
}
.alert {
	width: 75%;
	margin: 0 auto;
	font-family: "Open Sans", Sans-serif;
}
.lead {
	color: #7a7a7a;
}
.alert hr {
	border-top: 2px solid #53ae3b;
	width: 20 %;
	margin-top: 1em;
	margin-bottom: 2em;
}
.elementor-image {
	margin-top: 25px;
}