
.navbar-brand img {
	width: 120px;
	margin-left: 100px;
}
.navbar-nav li {
	font-family: 'Rubik', sans-serif;
	letter-spacing: 1px;
	font-size: 18px;
	margin: 10px;
	
    text-transform: uppercase;
}
.navbar-nav {
	margin-right: 100px;
}